/* Put your CSS here */
html, body {
    margin: 0;
    padding: 0;
}

body {
  overflow: hidden;
  background: #e74c3c;
}

h2 {
  
  font-size: 48px;
  line-height: 48px;
  display: inline-block;
  width: 100%;
  color: yellow;
}

.avatar-container {
  
  width: 400px;
  position: relative;
}
.avatar {
  float: left;
  position: relative;
  width: 400px;
  text-align: center;
  -webkit-transform:rotate(5deg); /* Safari and Chrome */*/

}

.avatar img {
  
  display: inline-block;
  margin: 0 auto;
  position: relative;
}

.avatar img:first-of-type {
  margin-bottom: -48px;
  
z-index: 8;
}
.avatar img:nth-of-type(2) {
  z-index: 4;
}

.next,  .prev {
  cursor: pointer;
  width: 38px;
  height: 18px;
  display: block;
  position: absolute;

}

.prev {
  
  background: url("../images/leftarrow.png");

}

.next {
  right: 0;
  background: url("../images/rightarrow.png");

}

.prev:hover {
  
  opacity: 0.5;
}

.hat {
  
  top: 125px;
}

.head {
  top: 250px;
}

.body {
  top: 450px;
}

.leg {
  
  top: 650px;
}

.message {
  z-index: 22;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  padding: 18px;
  box-shadow: 0 0 12px rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 96px;
  border-radius: 8px;
  background: rgba(255,255,255,0.8);
}